@tailwind base;
@tailwind components;
@tailwind utilities;



.active{
    ul{
        flex-direction: column-reverse;
        left: 0;
        background: rgba(0, 0, 0, 0.235);
        padding-left: 50px;
        gap: 30px;
        width: 30%;
    }
}


.menu-open { 
    display: flex;
    flex-direction: column-reverse;
        left: 0;
        background: rgba(0, 0, 0, 0.235);
        padding-left: 20px;
        gap: 30px;
        width: 40%;
        align-items: flex-start !important;
    transition: all 1s;
    left: 0 !important;
  }

.hero {
    background-image: url('https://s3-alpha-sig.figma.com/img/0fe5/59b5/92404e3cffe33e768062dc2ed0732c3d?Expires=1720396800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=lSeEo1mlczuawwSG7gO-is7T-j0iTuQiLXqnQS-W9m~x7KqhgE9RjDaI-OKZF2ipVRq8MMdsh30rNGkyi0fzzkGA1afb10WCplQWahVibn6TBOd7MGTUEHDEqFfFDAy6JmUi-stuGQhPtCayFJCETMRTIniqc4pItiryCuX9FhvIOjMDCylVdHaCOkj-JemiDgK6ogmyT4xy7~IF6BnfV5xqvCfxEayJQKVZnRRB4NLtAcGbh5OJpci8WbvvrleN2Ev-0-E3oEG1Hb8ot78zACoEIBumvLkW4VfWhBbsR4VeAZbzfz7Xlc1MSnQUTZv73~SMGcBlXWNdbxebByQvvQ__');
    padding: 100px 0px;
}
.grid-cols-auto-fill-250{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
}
.card{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.grid-cols-auto-fill-300 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    gap: 30px;
}
.grid-cols-auto-fill {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    gap: 30px;
}


@media (min-width:1600px) {
    .grid-cols-auto-fill-300 {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
        gap: 30px;
    }
}

@media (min-width:1200px) {
    .grid-cols-auto-fill-300 {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
            gap: 30px;
        }
}

@media (min-width:992px) {
    .menu-open{
        display: flex;
        align-items: center !important;
    }
        .grid-cols-auto-fill-300 {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
            gap: 30px;
        }
}

@media (max-width:400px) {
    .grid-cols-auto-fill-300 {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)) !important;
            gap: 30px;
        }
}


